<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TyAutoCad.Examples.SqlServerDatabase.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TestSqlServerDbContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TyAutoCad.Examples.SqlServerDatabase.DbContexts.TestSqlServerDbContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <TyAutoCad.Examples.SqlServerDatabase.Settings1>
      <setting name="TestConnectionString" serializeAs="String">
        <value>Data Source=FILESERVERPC3;Initial Catalog=TestCadDB_230407;Persist Security Info=True;MultipleActiveResultSets=True;User ID=ss;Password=ssss;</value>
      </setting>
    </TyAutoCad.Examples.SqlServerDatabase.Settings1>
  </userSettings>
</configuration>